@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

//Class Names
$base-class-name: 'base';
$theme-class-name: 'theme';

$offset-shadow-width: 0px;
$offset-shadow-color: #FFF;
$offset-shadow: 0 0 0 $offset-shadow-width $offset-shadow-color;
$base-shadow: 0 0 #0000;
$font-exclusion: 300, 400, 600, 700;

$base-colors: (
	100: #f3f4f6,
	200: #d1d5db,
	300: #6b7280,
	400: #374151,
	500: #111827
);

// BROWN
// $theme-colors: (
// 	100: #fef9c3,
// 	200: #fde047,
// 	300: #eab308,
// 	400: #a16207,
// 	500: #713f12
// );

//RED
// $theme-colors: (
// 	100: #f0c3c3,
// 	200: #f04747,
// 	300: #c10808,
// 	400: #750707,
// 	500: #441212
// );

//GREEN
// $theme-colors: (
// 	100: #d4f0c3,
// 	200: #8cf047,
// 	300: #39b808,
// 	400: #267507,
// 	500: #1a4412
// );

//BLUE
// $theme-colors: (
// 	100: #c3dbf0,
// 	200: #47a8f0,
// 	300: #0869c1,
// 	400: #074a75,
// 	500: #132e44
// );

//PURPLE
// $theme-colors: (
//     100: #e5c3f0,
//     200: #c647f0,
//     300: #8108c1,
//     400: #4a0750,
//     500: #2b1333
// );


//YELLOW
// $theme-colors: (
//     100: #f0f0c3,
//     200: #f0e647,
//     300: #c1b808,
//     400: #746a07,
//     500: #434312
// );


//PINK
// $theme-colors: (
//     100: #f0c3db,
//     200: #f047a6,
//     300: #c10869,
//     400: #75074a,
//     500: #44132e
// );


//TEAL
// $theme-colors: (
//     100: #c3f0e1,
//     200: #47f0c7,
//     300: #08c1a6,
//     400: #075074,
//     500: #133144
// );


//ORANGE
// $theme-colors: (
//     100: #f0dbc3,
//     200: #f0a047,
//     300: #c17508,
//     400: #754a07,
//     500: #443013
// );


//SUBSCRIBE
$theme-colors: (
	100: #eff0f8,
	200: #b8a5f9,
	300: #8366f1,
	400: #5d47a8,
	500: #3f2d71
);



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$positions:( 
    'top': 'top', 
    'end': 'right',
    'bottom': 'bottom',
    'start': 'left'
);

$border-radius: (
  'sm': .5rem,
  'md': .75rem,
  'lg': 1rem,
  'xl': 2rem
);

:root {
    --background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    --font-family: 'Open Sans', sans-serif;
    @each $key, $color in $theme-colors {
        --theme-color-#{$key}: #{$color};
        --theme-color-#{$key}-light: #{lighten($color, 10%)};
      }
      @each $key, $color in $base-colors {
        --base-color-#{$key}: #{$color};
        --base-color-#{$key}-light: #{lighten($color, 10%)};
      }
}

body{
    font-family: var(--font-family);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arsenal', sans-serif;
}
.glass {background: rgba(255, 255, 255, 0.65);border-radius: 3px;box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);backdrop-filter: blur(7.7px);-webkit-backdrop-filter: blur(7.7px);border: 1px solid rgba(255, 255, 255, 0.19);}

/*******************
* COLORS
******************/
@mixin generateColorClasses($colors, $class-name) {
    @each $i in 100, 200, 300, 400, 500  {
        
        // Border Color + :hover + :focus
        .border-#{$class-name}-#{$i} {
            border-color: var(--#{$class-name}-color-#{$i})!important;
        }
        .hover\:border-#{$class-name}-#{$i}:hover {
            border-color: var(--#{$class-name}-color-#{$i});
        }
        .focus\:border-#{$class-name}-#{$i}:focus {
            border-color: var(--#{$class-name}-color-#{$i})!important;
        }
        .checked\:border-#{$class-name}-#{$i}:checked {
            border-color: var(--#{$class-name}-color-#{$i})!important;
        }

        //Text Color + :hover + :focus
        .text-#{$class-name}-#{$i} {
            color: var(--#{$class-name}-color-#{$i});
        }
        .hover\:text-#{$class-name}-#{$i}:hover {
            color: var(--#{$class-name}-color-#{$i});
        }
        .focus\:text-#{$class-name}-#{$i}:focus {
            color: var(--#{$class-name}-color-#{$i});
        }

        // Background Color + :hover + :focus
        .bg-#{$class-name}-#{$i} {
            background-color: var(--#{$class-name}-color-#{$i});
        }
        .hover\:bg-#{$class-name}-#{$i}:hover {
            background-color: var(--#{$class-name}-color-#{$i});		
        }
        .focus\:bg-#{$class-name}-#{$i}:focus {
            background-color: var(--#{$class-name}-color-#{$i});		
        }
        .checked\:bg-#{$class-name}-#{$i}:checked {
            background-color: var(--#{$class-name}-color-#{$i});		
        }

         // Link Color + :hover
         .link-#{$class-name}-#{$i} {
            color: var(--#{$class-name}-color-#{$i});
            -webkit-text-decoration-color: var(--#{$class-name}-color-#{$i});
            text-decoration-color: var(--#{$class-name}-color-#{$i});
        }
        .link-#{$class-name}-#{$i}:hover, .link-#{$class-name}-#{$i}:focus {
            color: var(--#{$class-name}-color-#{$i}-light);
        } 
    }

    // Shadow color as --shadow-color
    @each $key, $color in $colors {
        .box-shadow-#{$class-name}-#{$key}{
            --shadow-color: #{$color};
            box-shadow: $offset-shadow, 0 0 0 3px  var(--shadow-color), $base-shadow;
        }
    }
}

@for $i from 1 through 5 {
    .box-shadow-#{$i} {
        --ring-shadow: 0 0 0 #{$i}px ; 
        box-shadow: $offset-shadow, var(--ring-shadow) var(--shadow-color), $base-shadow;
    }
} 

@include generateColorClasses($theme-colors, $theme-class-name);
@include generateColorClasses($base-colors, $base-class-name);

/*******************
* SIZING
******************/
/*Width*/
@for $i from 1 through 4 {
    .w-#{calc($i * 20)} {
        $size: 0% + calc($i * 20);
        width: $size;
    }
} 
@for $i from 1 through 10 {
    .w-#{calc($i * 10)}-vh {
        $size: 0vh + calc($i * 10);
        width: $size;
    }
}
@for $i from 1 through 10 {
    .w-#{calc($i * 10)}-vw {
        $size: 0vw + calc($i * 10);
        width: $size;
    }
}

/*Max Width*/
@for $i from 1 through 4 {
    .mw-#{calc($i * 20)} {
        $size: 0% + calc($i * 20);
        max-width: $size;
    }
} 
@for $i from 1 through 10 {
    .mw-#{calc($i * 10)}-vh {
        $size: 0vh + calc($i * 10);
        max-width: $size;
    }
}
@for $i from 1 through 10 {
    .mw-#{calc($i * 10)}-vw {
        $size: 0vw + calc($i * 10);
        max-width: $size;
    }
}

/*Height*/
@for $i from 1 through 4 {
    .h-#{calc($i * 20)} {
        $size: 0% + calc($i * 20);
        height: $size;
    }

} 
@for $i from 1 through 10 {
    .h-#{calc($i * 10)}-vh {
        $size: 0vh + calc($i * 10);
        height: $size;
    }
}
@for $i from 1 through 10 {
    .h-#{calc($i * 10)}-vw {
        $size: 0vw + calc($i * 10);
        height: $size;
    }
}

/*Max Height*/
@for $i from 1 through 4 {
    .mh-#{calc($i * 20)} {
        $size: 0% + calc($i * 20);
        max-height: $size;
    }
} 
@for $i from 1 through 10 {
    .mh-#{calc($i * 10)}-vh {
        $size: 0vh + calc($i * 10);
        max-height: $size;
    }
}
@for $i from 1 through 10 {
    .mh-#{calc($i * 10)}-vw {
        $size: 0vw + calc($i * 10);
        max-height: $size;
    }
}

/*Font Size*/
@for $i from 1 through 4 {
	.text-sm-#{$i} {
		$size: 1rem - calc($i / 8);
		font-size: $size;
	}
}
/*******************
* OPACITY
******************/
@for $i from 1 through 4 {
    .opacity-#{calc($i * 20)} {
        $opacity: 0% + calc($i * 20);
        opacity: $opacity;
    }
} 
/*******************
* POSITION
******************/
@mixin extendedPosition($property, $value) {
    @for $i from 1 through 4 {
        .#{$property}-#{$i * 20} {
            #{$value}: calc(#{$i * 20}%);
        }
    }
}

@each $key, $position in $positions {
    @include extendedPosition($key, $position);
}

/*******************
* HOVER AND FOCUSED STATES
******************/

.hover\:text-white:hover {
	color: #fff;
}
.hover\:bg-white:hover {
	background-color: #fff;
}
.hover\:text-black:hover {
	color: #000;
}
.hover\:bg-black:hover {
	background-color: #000;
}
.focus\:text-white:focus {
	color: #fff;
}
.focus\:bg-white:focus {
	background-color: #fff;
}
.focus\:text-black:focus {
	color: #000;
}
.focus\:bg-black:focus {
	background-color: #000;
}
//Box Shadow Spread Radius
@for $i from 1 through 5 {
    .focus\:box-shadow-#{$i}:focus {
        --ring-shadow: 0 0 0 #{$i}px ; 
        box-shadow: $offset-shadow, var(--ring-shadow) var(--shadow-color), $base-shadow;
    }
    .hover\:box-shadow-#{$i}:hover {
        --ring-shadow: 0 0 0 #{$i}px ; 
        box-shadow: $offset-shadow, var(--ring-shadow) var(--shadow-color), $base-shadow;
    }
} 

@mixin generateBoxShadow($colors, $class-name) {
    @each $key, $color in $colors {
        .focus\:box-shadow-#{$class-name}-#{$key}:focus {
            --shadow-color: #{$color};
            box-shadow: $offset-shadow, 0 0 0 3px  var(--shadow-color), $base-shadow;
        }
        .hover\:box-shadow-#{$class-name}-#{$key}:hover {
            --shadow-color: #{$color};
            box-shadow: $offset-shadow, 0 0 0 3px  var(--shadow-color), $base-shadow!important;
        }
    }
}
@include generateBoxShadow($theme-colors, $theme-class-name);

/*******************
* OUTLINE
******************/
.outline-0 {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/*******************
* THEME BUTTONS
******************/

@mixin set-button-colors($bg-color-var, $bg-color, $bg-color-light) {
    background-color: var($bg-color-var);
  
    // Set the text color based on the lightness of the background color
    @if (lightness($bg-color) > 50) {
      color: #000; 
    } @else {
      color: #fff; 
    }
  
    &:hover {
      background-color: var(#{$bg-color-var}-light);
  
      @if (lightness($bg-color-light) > 50) {
        color: #000; 
      } @else {
        color: #fff; 
      }
    }
  }

  @mixin set-button-outline($bg-color-var, $bg-color, $bg-color-light) {
    border: 1px solid var(#{$bg-color-var})!important;
    color: #000;
    
    // Apply the hover effect
    &:hover {
      background-color: var(#{$bg-color-var});
    //   box-shadow: unset!important;
  
      // Set the text color on hover based on the lightness of the hover background color
      @if (lightness($bg-color) > 50) {
        color: #000; // Light background, return dark text color
      } @else {
        color: #fff; // Dark background, return light text color
      }
    }
  }

  @mixin generateButtons($colors, $class-name) {
    @each $key, $color in $colors {
      .btn-#{$class-name}-#{$key} {
        @include set-button-colors(--#{$class-name}-color-#{$key}, $color, lighten($color, 10%));
      }
    }
    @each $key, $color in $colors {
        .btn-outline-#{$class-name}-#{$key} {
          @include set-button-outline(--#{$class-name}-color-#{$key}, $color, lighten($color, 10%));
        }
      }
  }
  
  @include generateButtons($theme-colors, 'theme');
  @include generateButtons($base-colors, 'base');

  
/*******************
* FONT WEIGHT
******************/
@for $i from 1 through 9 {
  $value: $i * 100;
  @if not index($font-exclusion, $value) {
    .fw-#{$i}00 {
      font-weight: $value;
    }
  }
}
/*******************
* BORDER RADIUS
******************/
@each $key, $radius in $border-radius {
    .rounded-#{$key} {
      border-radius: $radius;
    }
  }

  /*******************
* TRANSITIONS
******************/
.transition\:ease {
    transition: all .4s ease-out!important;
}

/*******************
* BACKGROUND IMAGE
******************/
.theme-background-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

